
<main>
    <div class="login-container">
        <div>
            <p class="title">Get Started Now</p>
        </div>
        <form action="">
            <div class="inputs">
                <label for="name">Name</label>
                <input type="text"
                name="name"
                id="name"
                placeholder="Enter your name" 
                class="input-field" 
                required/>
            </div>
            <div class="inputs">
                <label for="email">Email address</label>
                <input type="text" 
                name="email" 
                id="email" 
                placeholder="Enter your email" 
                class="input-field"
                required/>
            </div>
            <div class="inputs">
                <label for="password">Password</label>
                <input type="password" 
                name="password" 
                id="password" 
                placeholder="Enter your password" 
                class="input-field" 
                required/>
            </div>
            <div class="login-details">
                <div class="checkbox-container">
                    <input type="checkbox" class="checkbox"/>
                    <p>Remember me for 30 days</p>
                </div>
                <a [routerLink]="['/']">forgotten password</a>
            </div>
            <button class="login-button" >Sign Up</button>
        </form>
        <div class="divider">
            <div class="line"></div>
            <p class="or">or</p>
            <div class="line"></div>
        </div>
        <button class="social-login">
            <img src="/images/icons8-google 1.svg" alt="">
            <p>Signin with Google</p>
        </button>
        <div class="signup-link">
            <p class="signup">Have an account? <a [routerLink]="['/login']">Login</a></p>
        </div>
    </div>
    <img src="/images/chris-lee-70l1tDAI6rM-unsplash 1.svg" alt="">
</main>